video{
    width: 80vw;
}

p{
    width: 80vw;
    color: black;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.97%, #FFFFFF 53.03%, rgba(217, 217, 217, 0.11) 100%);
}

@media only screen and (max-width: 500px) {
    video{
        margin-top: 5%;
        width: 100vw;
        height: 25vh;
    }
    p{
        width: 100vw;
    }
}