video{
    width: 100%;
}

p{
    width: 80vw;
    color: black;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 1.97%, #FFFFFF 53.03%, rgba(217, 217, 217, 0.11) 100%);
}

.video-container{
    position: relative;
    width: 80vw;
    overflow: hidden;
    display: flex;
}
.video-controls{
    position: absolute;
    bottom: 0;
    width: 100%;
    // background-color: rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    transform: translateY(100%) translateY(-20%);
    transition: 0.3s;
    color: white;
}
.timeline{
    width: 100%;
    height: 5px;
    position: relative;
}

.video-timeLine {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 0%, #fff 0%, #fff 100%);;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }

  .video-timeLine::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
    background: #ff5600;
    cursor: pointer;
  }

.inner-controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
    box-sizing: border-box;
    background-color: rgb(100, 100, 100);
}
.volume{
    margin-right: 2%;
}
.fullscreen-button{
    margin-right: 2%;
}
.button{
    background: transparent;
    border: none;
    color: white;
}
.time{
    display: flex;
    align-items: center;
}
.spacer{
    flex: 1 0 0;
}

@media only screen and (max-width: 500px) {
    .video-container{
        margin-top: 5%;
        width: 100vw;
        // height: 25vh;
    }
    .play-button{
        font-size: 20px;
    }
    p{
        width: 100vw;
    }
}